#row1 img, #row2 img, #row3 img {
  padding-right: 75px;
  padding-top: 10px;
  image align-items: center:


}
body {
  background-image: url('pokemontitle.png');
  background-image: url('background copy.png');
  background padding-top: 200px;
  background-repeat: no-repeat;

  opacity:
}
